@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* adiciona o CSS para uma fonte personalizada  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: url(Imagens/Imagem.webp) no-repeat center center fixed;
    /* adiciona uma imagem de fundo para a página  */
    background-size: cover;

    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Michroma", sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #d15b1c;
    font-style: normal;
}

h3 {
    font-size: 24px;
    color: #1453b8;
    font-weight: normal;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

form {
    width: 500px;
    height: 100%;
    float: right;
    /* desloca o formulário para a direita da página  */
    background-color: #ffffff;
    padding: 25px 50px 25px 50px;
}

form .form-group,
.form-group-submit {
    margin-top: 15px;
}

/* Cria um estilo para os labels, menos os que tiverem a propriedade "for" com os valores abaixo */
label:not([for="html"], [for="css"], [for="js"], [for="py"], [for="php"], [for="masculino"], [for="feminino"], [for="outro"]) {
    display: block;
    margin-bottom: 8px;
}

input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

label[for="comentarios"] {
    margin-top: 30px;
}

[for="html"],
[for="css"],
[for="js"],
[for="py"],
[for="php"],
[for="masculino"],
[for="feminino"],
[for="outro"] {
    margin-right: 15px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

textarea {
    resize: vertical;
}

.form-group-submit button {
    width: 100%;
    padding: 12px;
    background-color: #e5633f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 325ms;
}

/* informa que o estilo do botão será alterado quando houver um evento de mouse sobre ele */
button:hover {
    background-color: #4285f4;
}
